%section#features.section.features.clear
  .wrapper.clear
    %h1.section__heading.text-center All the features you need

    .clear.block.m-t-lg
      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-mobile.p-t-xs
        %div
          .font-w-7 Run your business from any device
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-magnifying-glass.p-t-xs
        %div
          .font-w-7 Insightful reports
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-global.p-t-xs
        %div
          .font-w-7 Search engine optimized
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-layers.p-t-xs
        %div
          .font-w-7 Unlimited products
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-piechart.p-t-xs
        %div
          .font-w-7 Google Analytics
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-bargraph.p-t-xs
        %div
          .font-w-7 Product reports
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
