%section#features.section.features.clear
  .wrapper.clear
    %h1.section__heading.text-center All the features you need and more

    .clear.block.m-t-lg
      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-magnifying-glass.p-t-xs
        %div
          .font-w-7 Insightful reports
          %p Analyze your store's growth. See which products are selling — and which ones aren't.

      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-global.p-t-xs
        %div
          .font-w-7 Search engine optimized
          %p All stores are optimized for the best SEO ranking by all major search engines.

      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-layers.p-t-xs
        %div
          .font-w-7 No coding required
          %p Pick one of our beautifully designed themes that is built to convert or code your own.

      .col-sm-offset-0.col-sm-6.block.m-b-lg
        .features__icon.icon-piechart.p-t-xs
        %div
          .font-w-7 Google Analytics
          %p If our reports is not enough, dig deeper with our Google Analytics integration.
