%section.hero.text-center
  %h1.hero__heading
    %span A smarter way to sell on Instagram.

  %p.hero__lead
    Create your store, add products, get paid.
  
  %form.form-inline.p-t-lg{:action => "#"}
    %input.form-control.hero__form__input{:type => "text", placeholder: "Enter your email..."}/
    %button{type: "submit", class: "btn btn-default hero__form__submit-btn"} Request access for free
    %div no credit card required