%section.hero-secondary.clear
  .row
    .col-sm-4.text-center.m-b-md
      .icon-clock.hero-secondary__icon.p-b-sm.p-t-xs.clear.block
      .hero-secondary__desc
        .font-w-7 Save Time
        .inline-block Automatically add products using our smart #hashtag

    .col-sm-4.text-center.m-b-md
      .icon-linegraph.hero-secondary__icon.p-b-sm.p-t-xs.clear.block
      .hero-secondary__desc
        .font-w-7 Increase Sales
        .inline-block Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    .col-sm-4.text-center.m-b-md
      .icon-phone.hero-secondary__icon.p-b-sm.p-t-xs.clear.block
      .hero-secondary__desc
        .font-w-7 Optimized for Mobile
        .inline-block Lorem ipsum dolor sit amet, consectetur adipisicing elit.
