%section.hero.text-center.h-100
  %h1.hero__heading
    %span The easiest way to sell on Instagram. 

  %p.hero__lead
    Create free online stores, add products, get paid.
  
  %form.registration-form.form-inline.p-t-lg{:action => "#"}
    %input.form-control.hero__form__input#email{:type => "text", placeholder: "Enter your email..."}/
    %button{type: "submit", class: "btn btn-default hero__form__submit-btn"} Request access for free
    %div no credit card required