%section#pricing.section.pricing.clear.p-b-lg
  .wrapper
    .text-center.text-white.m-b-lg
      .section__heading All new accounts enjoy a 14 day Premium trial.
      .section__lead Two simple options: Basic or Premium. And you can upgrade and downgrade as you wish.

    .col-sm-offset-2.col-sm-8
      .col-sm-6
        .pricing__box.text-center.text-white

          .pricing__box__header
            .header__plan-title.font-w-7 Free
            %span.header__dollar-amount 0
            %span.block per user / month

          .pricing__box__body
            .block 5 products

          .pricing__box__footer
            %a.footer__btn.btn.btn-default.font-w-7.text-upper{:href => "#"} Free sign up

      .col-sm-6
        .pricing__box.text-center.text-white

          .pricing__box__header
            .header__plan-title.font-w-7 Premium
            %span.header__dollar-amount 9
            %span.block per user / month

          .pricing__box__body
            .block 50+ products

          .pricing__box__footer
            %a.footer__btn.btn.btn-default.font-w-7.text-upper{:href => "#"} Try for free
