html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;
}